@{
}

<div class="d-flex flex-column flex-column-fluid">
    <div id="kt_app_content" class="app-content flex-column-fluid">
		<div class="row g-5 g-xl-8">
			<div class="col-xl-4">
				<div class="card card-xl-stretch mb-xl-8">
					<div class="card-header border-0 pt-5">
						<h3 class="card-title align-items-start flex-column">
							<span class="card-label fw-bold fs-3 mb-1">Latest Products</span>
							<span class="text-muted mt-1 fw-semibold fs-7">More than 100 new orders</span>
						</h3>
						<div class="card-toolbar">
							<ul class="nav" role="tablist">
								<li class="nav-item" role="presentation">
									<a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light-primary active fw-bold px-4 me-1" data-bs-toggle="tab" href="#kt_table_widget_8_tab_1" aria-selected="true" role="tab">Month</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light-primary fw-bold px-4 me-1" data-bs-toggle="tab" href="#kt_table_widget_8_tab_2" aria-selected="false" tabindex="-1" role="tab">Week</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light-primary fw-bold px-4" data-bs-toggle="tab" href="#kt_table_widget_8_tab_3" aria-selected="false" tabindex="-1" role="tab">Day</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body py-3">
						<div class="tab-content">
							<div class="tab-pane fade show active" id="kt_table_widget_8_tab_1" role="tabpanel">
								<div class="table-responsive">
									<table class="table align-middle gs-0 gy-3">
										<thead>
											<tr>
												<th class="p-0 w-50px"></th>
												<th class="p-0 min-w-150px"></th>
												<th class="p-0 min-w-120px"></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div class="symbol symbol-50px me-2">
														<span class="symbol-label bg-light-danger">
															<i class="ki-duotone ki-scroll fs-2x text-danger">
																<span class="path1"></span>
																<span class="path2"></span>
																<span class="path3"></span>
															</i>
														</span>
													</div>
												</td>
												<td>
													<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">School Music Festival</a>
													<span class="text-muted fw-semibold d-block fs-7">by Rose Liam</span>
												</td>
												<td class="text-end">
													<span class="text-gray-900 fw-bold d-block fs-7">4:20PM, 03 Sep</span>
													<span class="text-muted fw-semibold d-block fs-8">Date</span>
												</td>
												<td class="text-end">
													<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
														<i class="ki-solid ki-dots-horizontal fs-1"></i>
													</a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="symbol symbol-50px me-2">
														<span class="symbol-label bg-light-warning">
															<i class="ki-duotone ki-element-11 fs-2x text-warning">
																<span class="path1"></span>
																<span class="path2"></span>
																<span class="path3"></span>
																<span class="path4"></span>
															</i>
														</span>
													</div>
												</td>
												<td>
													<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">Maths Championship</a>
													<span class="text-muted fw-semibold d-block fs-7">By Tom Gere</span>
												</td>
												<td class="text-end">
													<span class="text-gray-900 fw-bold d-block fs-7">10:05PM, 25 Oct</span>
													<span class="text-muted fw-semibold d-block fs-8">Date</span>
												</td>
												<td class="text-end">
													<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
														<i class="ki-solid ki-dots-horizontal fs-1"></i>
													</a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="symbol symbol-50px me-2">
														<span class="symbol-label bg-light-info">
															<i class="ki-duotone ki-compass fs-2x text-info">
																<span class="path1"></span>
																<span class="path2"></span>
															</i>
														</span>
													</div>
												</td>
												<td>
													<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">Who Knows Geography</a>
													<span class="text-muted fw-semibold d-block fs-7">By Zoey Dylan</span>
												</td>
												<td class="text-end">
													<span class="text-gray-900 fw-bold d-block fs-7">3:22PM, 07 Sep</span>
													<span class="text-muted fw-semibold d-block fs-8">Date</span>
												</td>
												<td class="text-end">
													<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
														<i class="ki-solid ki-dots-horizontal fs-1"></i>
													</a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="symbol symbol-50px me-2">
														<span class="symbol-label bg-light-primary">
															<i class="ki-duotone ki-abstract-26 fs-2x text-primary">
																<span class="path1"></span>
																<span class="path2"></span>
															</i>
														</span>
													</div>
												</td>
												<td>
													<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">Napoleon Days</a>
													<span class="text-muted fw-semibold d-block fs-7">By Luke Owen</span>
												</td>
												<td class="text-end">
													<span class="text-gray-900 fw-bold d-block fs-7">1:20PM, 02 Dec</span>
													<span class="text-muted fw-semibold d-block fs-8">Date</span>
												</td>
												<td class="text-end">
													<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
														<i class="ki-solid ki-dots-horizontal fs-1"></i>
													</a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="symbol symbol-50px me-2">
														<span class="symbol-label bg-light-success">
															<i class="ki-duotone ki-bucket fs-2x text-success">
																<span class="path1"></span>
																<span class="path2"></span>
																<span class="path3"></span>
																<span class="path4"></span>
															</i>
														</span>
													</div>
												</td>
												<td>
													<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">The School Art Leads</a>
													<span class="text-muted fw-semibold d-block fs-7">By Ellie Cole</span>
												</td>
												<td class="text-end">
													<span class="text-gray-900 fw-bold d-block fs-7">6:20PM, 07 Sep</span>
													<span class="text-muted fw-semibold d-block fs-8">Date</span>
												</td>
												<td class="text-end">
													<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
														<i class="ki-solid ki-dots-horizontal fs-1"></i>
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="kt_table_widget_8_tab_2" role="tabpanel">
								<div class="table-responsive">
									<table class="table align-middle gs-0 gy-3">
										<thead>
											<tr>
												<th class="p-0 w-50px"></th>
												<th class="p-0 min-w-150px"></th>
												<th class="p-0 min-w-120px"></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div class="symbol symbol-50px me-2">
														<span class="symbol-label bg-light-info">
															<i class="ki-duotone ki-compass fs-2x text-info">
																<span class="path1"></span>
																<span class="path2"></span>
															</i>
														</span>
													</div>
												</td>
												<td>
													<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">Who Knows Geography</a>
													<span class="text-muted fw-semibold d-block fs-7">By Zoey Dylan</span>
												</td>
												<td class="text-end">
													<span class="text-gray-900 fw-bold d-block fs-7">3:22PM, 07 Sep</span>
													<span class="text-muted fw-semibold d-block fs-8">Date</span>
												</td>
												<td class="text-end">
													<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
														<i class="ki-solid ki-dots-horizontal fs-1"></i>
													</a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="symbol symbol-50px me-2">
														<span class="symbol-label bg-light-warning">
															<i class="ki-duotone ki-element-11 fs-2x text-warning">
																<span class="path1"></span>
																<span class="path2"></span>
																<span class="path3"></span>
																<span class="path4"></span>
															</i>
														</span>
													</div>
												</td>
												<td>
													<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">Maths Championship</a>
													<span class="text-muted fw-semibold d-block fs-7">By Tom Gere</span>
												</td>
												<td class="text-end">
													<span class="text-gray-900 fw-bold d-block fs-7">10:05PM, 25 Oct</span>
													<span class="text-muted fw-semibold d-block fs-8">Date</span>
												</td>
												<td class="text-end">
													<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
														<i class="ki-solid ki-dots-horizontal fs-1"></i>
													</a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="symbol symbol-50px me-2">
														<span class="symbol-label bg-light-danger">
															<i class="ki-duotone ki-scroll fs-2x text-danger">
																<span class="path1"></span>
																<span class="path2"></span>
																<span class="path3"></span>
															</i>
														</span>
													</div>
												</td>
												<td>
													<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">School Music Festival</a>
													<span class="text-muted fw-semibold d-block fs-7">by Rose Liam</span>
												</td>
												<td class="text-end">
													<span class="text-gray-900 fw-bold d-block fs-7">4:20PM, 03 Sep</span>
													<span class="text-muted fw-semibold d-block fs-8">Date</span>
												</td>
												<td class="text-end">
													<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
														<i class="ki-solid ki-dots-horizontal fs-1"></i>
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="kt_table_widget_8_tab_3" role="tabpanel">
								<div class="table-responsive">
									<table class="table align-middle gs-0 gy-3">
										<thead>
											<tr>
												<th class="p-0 w-50px"></th>
												<th class="p-0 min-w-150px"></th>
												<th class="p-0 min-w-120px"></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div class="symbol symbol-50px me-2">
														<span class="symbol-label bg-light-warning">
															<i class="ki-duotone ki-element-11 fs-2x text-warning">
																<span class="path1"></span>
																<span class="path2"></span>
																<span class="path3"></span>
																<span class="path4"></span>
															</i>
														</span>
													</div>
												</td>
												<td>
													<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">Maths Championship</a>
													<span class="text-muted fw-semibold d-block fs-7">By Tom Gere</span>
												</td>
												<td class="text-end">
													<span class="text-gray-900 fw-bold d-block fs-7">10:05PM, 25 Oct</span>
													<span class="text-muted fw-semibold d-block fs-8">Date</span>
												</td>
												<td class="text-end">
													<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
														<i class="ki-solid ki-dots-horizontal fs-1"></i>
													</a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="symbol symbol-50px me-2">
														<span class="symbol-label bg-light-info">
															<i class="ki-duotone ki-compass fs-2x text-info">
																<span class="path1"></span>
																<span class="path2"></span>
															</i>
														</span>
													</div>
												</td>
												<td>
													<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">Who Knows Geography</a>
													<span class="text-muted fw-semibold d-block fs-7">By Zoey Dylan</span>
												</td>
												<td class="text-end">
													<span class="text-gray-900 fw-bold d-block fs-7">3:22PM, 07 Sep</span>
													<span class="text-muted fw-semibold d-block fs-8">Date</span>
												</td>
												<td class="text-end">
													<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
														<i class="ki-solid ki-dots-horizontal fs-1"></i>
													</a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="symbol symbol-50px me-2">
														<span class="symbol-label bg-light-primary">
															<i class="ki-duotone ki-abstract-26 fs-2x text-primary">
																<span class="path1"></span>
																<span class="path2"></span>
															</i>
														</span>
													</div>
												</td>
												<td>
													<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">Napoleon Days</a>
													<span class="text-muted fw-semibold d-block fs-7">By Luke Owen</span>
												</td>
												<td class="text-end">
													<span class="text-gray-900 fw-bold d-block fs-7">1:20PM, 02 Dec</span>
													<span class="text-muted fw-semibold d-block fs-8">Date</span>
												</td>
												<td class="text-end">
													<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
														<i class="ki-solid ki-dots-horizontal fs-1"></i>
													</a>
												</td>
											</tr>
											<tr>
												<td>
													<div class="symbol symbol-50px me-2">
														<span class="symbol-label bg-light-danger">
															<i class="ki-duotone ki-scroll fs-2x text-danger">
																<span class="path1"></span>
																<span class="path2"></span>
																<span class="path3"></span>
															</i>
														</span>
													</div>
												</td>
												<td>
													<a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">School Music Festival</a>
													<span class="text-muted fw-semibold d-block fs-7">by Rose Liam</span>
												</td>
												<td class="text-end">
													<span class="text-gray-900 fw-bold d-block fs-7">4:20PM, 03 Sep</span>
													<span class="text-muted fw-semibold d-block fs-8">Date</span>
												</td>
												<td class="text-end">
													<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
														<i class="ki-solid ki-dots-horizontal fs-1"></i>
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="card card-xxl-stretch mb-xl-8 theme-dark-bg-body" style="background-color: #F7D9E3">
					<div class="card-body d-flex flex-column">
						<div class="d-flex flex-column mb-7">
							<a href="#" class="text-gray-900 text-hover-primary fw-bold fs-3">Summary</a>
						</div>
						<div class="row g-0">
							<div class="col-6">
								<div class="d-flex align-items-center mb-9 me-2">
									<div class="symbol symbol-40px me-3">
										<div class="symbol-label bg-light">
											<i class="ki-duotone ki-abstract-42 fs-1 text-gray-900">
												<span class="path1"></span>
												<span class="path2"></span>
											</i>
										</div>
									</div>
									<div>
										<div class="fs-5 text-gray-900 fw-bold lh-1">$50K</div>
										<div class="fs-7 text-gray-600 fw-bold">Sales</div>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="d-flex align-items-center mb-9 ms-2">
									<div class="symbol symbol-40px me-3">
										<div class="symbol-label bg-light">
											<i class="ki-duotone ki-abstract-45 fs-1 text-gray-900">
												<span class="path1"></span>
												<span class="path2"></span>
											</i>
										</div>
									</div>
									<div>
										<div class="fs-5 text-gray-900 fw-bold lh-1">$4,5K</div>
										<div class="fs-7 text-gray-600 fw-bold">Revenue</div>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="d-flex align-items-center me-2">
									<div class="symbol symbol-40px me-3">
										<div class="symbol-label bg-light">
											<i class="ki-duotone ki-abstract-21 fs-1 text-gray-900">
												<span class="path1"></span>
												<span class="path2"></span>
											</i>
										</div>
									</div>
									<div>
										<div class="fs-5 text-gray-900 fw-bold lh-1">40</div>
										<div class="fs-7 text-gray-600 fw-bold">Tasks</div>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="d-flex align-items-center ms-2">
									<div class="symbol symbol-40px me-3">
										<div class="symbol-label bg-light">
											<i class="ki-duotone ki-abstract-44 fs-1 text-gray-900">
												<span class="path1"></span>
												<span class="path2"></span>
											</i>
										</div>
									</div>
									<div>
										<div class="fs-5 text-gray-900 fw-bold lh-1">$5.8M</div>
										<div class="fs-7 text-gray-600 fw-bold">Sales</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card card-xxl-stretch mb-xl-8 theme-dark-bg-body" style="background-color: #CBF0F4">
					<div class="card-body d-flex flex-column">
						<div class="d-flex flex-column mb-7">
							<a href="#" class="text-gray-900 text-hover-primary fw-bold fs-3">Summary</a>
						</div>
						<div class="row g-0">
							<div class="col-6">
								<div class="d-flex align-items-center mb-9 me-2">
									<div class="symbol symbol-40px me-3">
										<div class="symbol-label bg-light">
											<i class="ki-duotone ki-abstract-42 fs-1 text-gray-900">
												<span class="path1"></span>
												<span class="path2"></span>
											</i>
										</div>
									</div>
									<div>
										<div class="fs-5 text-gray-900 fw-bold lh-1">$50K</div>
										<div class="fs-7 text-gray-600 fw-bold">Sales</div>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="d-flex align-items-center mb-9 ms-2">
									<div class="symbol symbol-40px me-3">
										<div class="symbol-label bg-light">
											<i class="ki-duotone ki-abstract-45 fs-1 text-gray-900">
												<span class="path1"></span>
												<span class="path2"></span>
											</i>
										</div>
									</div>
									<div>
										<div class="fs-5 text-gray-900 fw-bold lh-1">$4,5K</div>
										<div class="fs-7 text-gray-600 fw-bold">Revenue</div>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="d-flex align-items-center me-2">
									<div class="symbol symbol-40px me-3">
										<div class="symbol-label bg-light">
											<i class="ki-duotone ki-abstract-21 fs-1 text-gray-900">
												<span class="path1"></span>
												<span class="path2"></span>
											</i>
										</div>
									</div>
									<div>
										<div class="fs-5 text-gray-900 fw-bold lh-1">40</div>
										<div class="fs-7 text-gray-600 fw-bold">Tasks</div>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="d-flex align-items-center ms-2">
									<div class="symbol symbol-40px me-3">
										<div class="symbol-label bg-light">
											<i class="ki-duotone ki-abstract-44 fs-1 text-gray-900">
												<span class="path1"></span>
												<span class="path2"></span>
											</i>
										</div>
									</div>
									<div>
										<div class="fs-5 text-gray-900 fw-bold lh-1">$5.8M</div>
										<div class="fs-7 text-gray-600 fw-bold">Sales</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="card card-xl-stretch mb-xl-8">
					<div class="card-header border-0 bg-info py-5">
						<h3 class="card-title fw-bold text-white">Master Statistics</h3>
						<div class="card-toolbar">
							<button type="button" class="btn btn-sm btn-icon btn-color-white btn-active-white btn-active-color- border-0 me-n3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
								<i class="ki-duotone ki-category fs-6">
									<span class="path1"></span>
									<span class="path2"></span>
									<span class="path3"></span>
									<span class="path4"></span>
								</i>
							</button>
							<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3" data-kt-menu="true">
								<div class="menu-item px-3">
									<div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">Payments</div>
								</div>
								<div class="menu-item px-3">
									<a href="#" class="menu-link px-3">Create Invoice</a>
								</div>
								<div class="menu-item px-3">
									<a href="#" class="menu-link flex-stack px-3">
										Create Payment
										<span class="ms-2" data-bs-toggle="tooltip" title="Specify a target name for future usage and reference">
											<i class="ki-duotone ki-information fs-6">
												<span class="path1"></span>
												<span class="path2"></span>
												<span class="path3"></span>
											</i>
										</span>
									</a>
								</div>
								<div class="menu-item px-3">
									<a href="#" class="menu-link px-3">Generate Bill</a>
								</div>
								<div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-end">
									<a href="#" class="menu-link px-3">
										<span class="menu-title">Subscription</span>
										<span class="menu-arrow"></span>
									</a>
									<!--begin::Menu sub-->
									<div class="menu-sub menu-sub-dropdown w-175px py-4">

										<div class="menu-item px-3">
											<a href="#" class="menu-link px-3">Plans</a>
										</div>


										<div class="menu-item px-3">
											<a href="#" class="menu-link px-3">Billing</a>
										</div>


										<div class="menu-item px-3">
											<a href="#" class="menu-link px-3">Statements</a>
										</div>

										<!--begin::Menu separator-->
										<div class="separator my-2"></div>
										<!--end::Menu separator-->

										<div class="menu-item px-3">
											<div class="menu-content px-3">
												<!--begin::Switch-->
												<label class="form-check form-switch form-check-custom form-check-solid">
													<!--begin::Input-->
													<input class="form-check-input w-30px h-20px" type="checkbox" value="1" checked="checked" name="notifications" />
													<!--end::Input-->
													<!--end::Label-->
													<span class="form-check-label text-muted fs-6">Recuring</span>
													<!--end::Label-->
												</label>
												<!--end::Switch-->
											</div>
										</div>

									</div>
									<!--end::Menu sub-->
								</div>
								<div class="menu-item px-3 my-1">
									<a href="#" class="menu-link px-3">Settings</a>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body p-0">
						<div class="mixed-widget-2-chart card-rounded-bottom bg-info" data-kt-color="info" style="height: 200px"></div>
						<div class="card-p mt-n20 position-relative">
							<div class="row g-0">

								<div class="col d-flex flex-column bg-light-warning px-6 py-8 rounded-2 me-7 mb-7">
									<i class="ki-duotone ki-chart-simple fs-2x text-warning my-2">
										<span class="path1"></span>
										<span class="path2"></span>
										<span class="path3"></span>
										<span class="path4"></span>
									</i>
									<a href="#" class="text-warning fw-semibold fs-6">Product</a>
								</div>


								<div class="col d-flex flex-column bg-light-primary px-6 py-8 rounded-2 mb-7">
									<i class="ki-duotone ki-briefcase fs-2x text-primary my-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
									<a href="#" class="text-primary fw-semibold fs-6">Inventory</a>
								</div>
							</div>
							<div class="row g-0">
								<div class="col d-flex flex-column bg-light-danger px-6 py-8 rounded-2 me-7">
									<i class="ki-duotone ki-abstract-26 fs-2x text-danger my-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
									<a href="#" class="text-danger fw-semibold fs-6 mt-2">User</a>
								</div>
								<div class="col d-flex flex-column bg-light-success px-6 py-8 rounded-2">
									<i class="ki-duotone ki-sms fs-2x text-success my-2">
										<span class="path1"></span>
										<span class="path2"></span>
									</i>
									<a href="#" class="text-success fw-semibold fs-6 mt-2">Category</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
