@{
    Layout = "";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form action="Account/DoLogin" method="post">
        <label for="">Username</label>    
        <input type="text" name="Username"/>
        <label>Password</label>
        <input type="password" name="Password"/>
        <button type="submit">Login</button>
    </form>
</div>
